#game-log {
  background-color: #2b2b2b;
  color: #cccccc;
  padding: 10px;
  font-family: monospace;
  font-size: 14px;
  max-height: 100px;
  min-height: 100px;
  overflow-y: auto;
}

#game-log div {
  padding: 2px 0;
}
